@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*Configs Gerais*/
*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Ubuntu';
}
body{
    background-color: #474747;
}
a{
    text-decoration: none;
}
/*Cabeçalho*/
header{
    background-color: #191C23;
}
header input{
    background-color: #191C23;
}
.navbar-config{
    background-color: #303031;
    justify-content: center;
}
.navbar-text{
    color: #fff;
    margin-right: 10px;
}
/*Conteúdo - Titulo*/
section{
    justify-content: center;
}
.container-title-button{
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 50px;
}
.container-title{
    color: #fff;
    width: 320px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
}
.container-button{
    width: 120px;
    position: absolute;
    right: 0;
}
/*Conteúdo - Tabela*/
td,th{
    border-collapse: collapse;
    text-align: center;
}
th{
    text-align: center;  
}
.link1 a:active{
    color: rgb(131, 131, 255);
}
.link2 a{
    color: rgb(237, 0, 0);
}
.link2 a:hover{
    color: rgb(179, 0, 0);
}
.link2 a:active{
    color: rgb(240, 63, 63);
}
/*Modal*/
.modal-content{
    width: 400px;
}
.modal-body p{
    font-size: 20px;
}
.modal-content .btn-primary{
    width: 175px;
}
.modal-content .btn-danger{
    width: 175px;
}
.color-text-modal{
    color: black;
}
/*Rodapé*/
footer{
    background-color: #a1a1a1;
    height: 50px;
    margin-top: 46px;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer ul li{
    margin-top: 10px;
    margin-right: 60px;
}
footer ul li a{
    color: black;
}
footer ul li a:hover{
    border-bottom: 1px black solid;
    padding-bottom: 10px;
}
@media(max-width:640px){
    th:nth-child(4),td:nth-child(4){
        display: none;
    }
} 